:root {
  --blue: #002e4e;
  --red: #ff1a32;
  --pink: #ffa29a;
  --grey: #cbcbcb;
  --light-blue: #00a9e3;
  --orange: #ffb720;
  --small-font-size: 12px;
  --small-font-color: #cbcbcb;
  --big-font-size: 36px;
  --big-font-color: white;
  --soft-title-color: grey;
  --medium-font-size: 14px;
}

.biggest-title {
  font-size: 2.8rem;
  color: black;
  font-weight: 500;
  margin: 0;
}
.header {
  color: var(--red);
  font-size: var(--small-font-size);
}
.big-title {
  font-size: 1.5rem;
  color: black;
  font-weight: 500;
  margin: 0;
}

.medium-title {
  font-size: 1rem;
  color: var(--soft-title-color);
  font-weight: 500;
}
.margin-left-18px {
  margin-left: 18px;
}

.margin-right-18px {
  margin-right: 18px;
}
.margin-top-18px {
  margin-top: 18px;
}
.margin-bottom-18px {
  margin-bottom: 18px;
}
.small-title {
  margin-top: 0;
}

.center-text {
  text-align: center;
}
.description {
  font-size: var(--medium-font-size);
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
}
.detail {
  font-size: var(--small-font-size);
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
}
.white {
  color: white;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: white;
    margin: 0;
  }

  .button {
    align-items: center;
    background-color: var(--red);
    border: 1px solid transparent;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.25;
    min-height: 3rem;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 3px;
    width: 160px;
    text-align: center;
  }
  .black-font {
    color: black;
  }
  .transparent-button {
    background-color: transparent;
    border: 1px solid var(--grey);
  }
  .button-section {
    display: flex;
    justify-content: space-between;
  }
  .summary {
    margin: 0;
    background-color: var(--blue);
    padding-left: 18px;
    padding-right: 18px;

    & img {
      width: 300px;
      margin-left: 48px;
    }
  }
  .about {
    background-color: white;
    padding-left: 18px;
    padding-bottom: 8rem;
    margin-bottom: 72px;

    & img {
      width: 300px;
      margin-left: 48px;
    }
  }
  .service {
    background-color: white;
    padding-left: 18px;
    margin: 0;
    & .check-container {
      display: flex;
      flex-direction: column;
      margin-bottom: 18px;
      & .check-item {
        display: flex;
        align-items: center;
      }
      .circle {
        height: 24px;
        width: 24px;
        border-radius: 50%;
        background: var(--light-blue);
        margin-right: 8px;
      }
      & i {
        color: white;
      }
    }
    & img {
      width: 300px;
      margin-left: 48px;
      margin-top: 12px;
    }
  }
  .features {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 18px;
    padding-right: 18px;

    .header {
      text-align: center;
      font-size: 18px;
    }

    & p {
      text-align: start;
    }

    & img {
      width: 72px;
      color: white;
    }
  }
  .portfolio {
    display: block;
    margin-top: 96px;
    padding-left: 18px;
    padding-right: 18px;

    .header {
      text-align: start;
      font-size: 18px;
    }
  }

  .numbers {
    padding-right: 18px;
    padding-left: 18px;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    & img {
      width: 72px;
      color: white;
    }
    & .circle {
      padding-bottom: 24px;
      padding-top: 24px;
    }
  }
  .overlay-text {
    color: white;
    position: absolute;
    font-size: 20px;
    text-align: center;
    bottom: 2rem;
    left: 1rem;
    padding: 0;
    margin: 0;
  }
  .img-subtitle {
    bottom: 1rem;
    font-size: 0.6rem;
  }
  .image-container {
    position: relative;
    height: 25rem;
    padding: 0;
    margin-bottom: 6px;
    & p {
      margin: 0;
      padding: 0;
    }
    box-shadow: inset 0 -20px 56px -15px #00b3e5;
  }
  .portfolio-image {
    position: absolute;
    margin-top: 1rem;
    width: 100%;
    margin-left: 0;
    height: 24rem;
  }
  .box-shadow {
    position: relative;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 5px -15px 28px -1px #00b3e5;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .playground {
    width: 300px;
    height: 300px;
    background-color: wheat;
    margin: auto;
    position: relative;
    & img {
      width: 300px;
      height: 300px;
    }
  }

  .navbar {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 12px 12px;

    & p {
      padding: 0;
      margin: 0;
      font-size: 18px;
      color: var(--big-font-color);
    }
    & i {
      color: var(--grey);
      position: absolute;
      left: 6px;
      top: 5px;
    }
  }
  .drawer-circle {
    width: 36px;
    height: 36px;
    border: 1px solid grey;
    border-radius: 50%;
    position: relative;
  }
  .relative {
    position: relative;
  }
  .circle {
    height: 72px;
    width: 72px;
    border-radius: 50%;
    /* background: var(--light-blue); */
    margin-right: 8px;
  }

  .align-left {
    align-self: self-start;
  }
}

@media only screen and (min-width: 601px) {
  body {
    margin: 0;
    /* Desktop-specific styles here */
  }
  ul,
  li {
    display: inline-block;
    list-style-type: none;
    padding: 12px;
  }

  .navbar {
    margin: 0;
    display: flex;
    /*padding:12px;*/
    align-items: center;
    align-content: center;
    justify-content: space-between;

    & p {
      color: white;
      margin: 0;
    }
  }
  .nav-items {
    display: flex;
  }

  .drawer-circle {
    display: none;
  }
  .button-section {
    display: flex;
    justify-content: space-between;
  }

  .summary {
    display: flex;
    flex-direction: column;
    background-color: var(--blue);
    padding-left: 72px;
    padding-right: 72px;
    padding-bottom: 250px;
    color: white;
    margin: 0;
    & img {
      max-width: 38rem;
      min-width: 12rem;
      min-height: 12rem;
      margin-top: 5rem;

      /*margin-left: 100px;*/
    }
  }

  .summary-content {
    margin-top: 5rem;
  }
  .summary-container {
    display: flex;
    justify-content: space-between;
  }
  .button-section {
    display: flex;
    justify-content: start;
    margin: 12px;
  }
  .button {
    background-color: var(--red);
    border: 1px solid transparent;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.25;
    min-height: 3rem;
    padding: 12px 24px 12px;
    text-decoration: none;
    border-radius: 3px;
    width: 160px;
    text-align: center;
    margin-right: 36px;
  }

  .transparent-button {
    background-color: transparent;
    border: 1px solid var(--grey);
  }

  .about {
    display: flex;
    background-color: white;
    padding-left: 18px;
    padding-bottom: 8rem;
    margin-bottom: 72px;
    justify-content: space-between;

    & img {
      width: 38rem;
      margin-left: 48px;
    }
  }
  .about-content {
    max-width: 28rem;
    padding-right: 12rem;
    align-self: center;
  }
  .service {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: white;
    /*padding-bottom: 8rem;*/
    /*margin-bottom: 72px;*/
    padding-left: 72px;
    padding-right: 72px;
    & img {
      width: 48em;
      margin-left: 48px;
    }
    & .check-container {
      display: flex;
      flex-direction: column;
      margin-bottom: 18px;
      & .check-item {
        display: flex;
        align-items: center;
      }
      .circle {
        height: 24px;
        width: 24px;
        border-radius: 50%;
        background: var(--light-blue);
        margin-right: 8px;
      }
      & i {
        color: white;
      }
    }
  }
  .service-content {
    max-width: 28rem;
    padding-right: 12rem;
    align-self: start;
  }
  .service-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .features {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 18px;
    padding-right: 18px;

    .header {
      text-align: center;
      font-size: 18px;
    }

    & p {
      text-align: start;
    }

    & img {
      width: 72px;
      color: white;
    }
  }
  .feature-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .feature-icons {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    max-width: 16rem;
  }
  .feature-icons-container {
    display: flex;
  }
  .portfolio {
    /* Desktop-specific styles for .portfolio */
  }

  .numbers {
    /* Desktop-specific styles for .numbers */
  }

  .overlay-text {
    /* Desktop-specific styles for .overlay-text */
  }

  .img-subtitle {
    /* Desktop-specific styles for .img-subtitle */
  }

  .image-container {
    /* Desktop-specific styles for .image-container */
  }

  .portfolio-image {
    /* Desktop-specific styles for .portfolio-image */
  }

  .box-shadow {
    /* Desktop-specific styles for .box-shadow */
  }

  .overlay {
    /* Desktop-specific styles for .overlay */
  }

  .playground {
    /* Desktop-specific styles for .playground */
  }

  /* Remove mobile-specific styles */
}
