body {
  background-color: white;
  margin: 0;
}
.button {
  align-items: center;
  background-color: var(--red);
  border: 1px solid transparent;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 3px;
  width: 10rem;
  height: 4rem;
  text-align: center;
}

.transparent-button {
  background-color: transparent;
  border: 1px solid var(--grey);
}
.button-section {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.navbar {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: var(--section-padding);
  padding-right: var(--section-padding);

  /* padding: 12px 12px 12px; */

  & i {
    color: var(--grey);
    position: absolute;
    left: 6px;
    top: 5px;
  }
  ul,
  li {
    list-style-type: none;
    display: inline-block;
    padding: 1rem;
  }
}
#summary {
  margin: 0;
  background-color: var(--blue);
  /* padding-left: 18px; */
  /* padding-right: 18px; */
  padding-bottom: 10%;
  & img {
    width: 100%;
    align-self: center;
    max-width: 50%;
  }
}
.summary-container {
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  padding-left: var(--section-padding);
  padding-right: var(--section-padding);
}
#about {
  background-color: white;
  padding-left: var(--section-padding);
  padding-bottom: 8rem;
  margin-bottom: var(--section-padding);
  margin-top: var(--section-padding);
  & img {
    width: 40%;
    margin-left: 48px;
    margin-right: 30%;
    min-width: 30%;
  }
  
}
.service {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-left: var(--section-padding);
  padding-right: var(--section-padding);
  margin-bottom: var(--section-padding);
  & .check-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
    & .check-item {
      display: flex;
      align-items: center;
    }
    .circle {
      height: 24px;
      width: 24px;
      border-radius: 50%;
      background: var(--light-blue);
      margin-right: 8px;
    }
    & i {
      color: white;
    }
  }
  & img {
    width: 100%;
    min-width: 30%;
  }
}
.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding-left: var(--section-padding);
  padding-right: var(--section-padding);

  padding-right: 18px;

  .header {
    text-align: center;
    font-size: 18px;
  }

  & p {
    text-align: start;
  }

  & img {
    width: var(--section-padding);
    color: white;
  }

  .icons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-between;
  }

  .feature-icons {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
  }
  .features-icon {
    margin-bottom: 120px;
  }
}
.portfolio {
  display: block;
  margin-top: 96px;
  padding-left: var(--section-padding);
  padding-right: var(--section-padding);
  margin-bottom: var(--section-padding);

  .header {
    text-align: start;
    font-size: 18px;
  }
  .image-container {
    display: flex;
    flex-direction: column;
  }

  .description {
    display: flex;
    flex-direction: column;
  }
  .overlay-text {
    color: white;
    position: absolute;
    font-size: 20px;
    text-align: center;
    bottom: 2rem;
    left: 1rem;
    padding: 0;
    margin: 0;
  }
  .img-subtitle {
    bottom: 1rem;
    font-size: 0.6rem;
  }
  .image-content {
    position: relative;
    padding: 0;
    margin-bottom: 6px;
    & p {
      margin: 0;
      padding: 0;
    }
    box-shadow: inset 0 -20px 56px -15px #00b3e5;
  }
  .portfolio-image {
    position: relative;
    margin-top: 1rem;
    width: 100%;
    margin-left: 0;
    height: 36rem;
  }

  .button {
    margin-bottom: 1rem;
  }
}

.numbers {
  padding-left: var(--section-padding);
  padding-right: var(--section-padding);
  margin-bottom: var(--section-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  & img {
    width: var(--section-padding);
    color: white;
  }
  & .circle {
    padding-bottom: 24px;
    padding-top: 24px;
  }
}

.box-shadow {
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 5px -15px 28px -1px #00b3e5;
  background-color: rgba(255, 255, 255, 0.2);
}
.playground {
  width: 300px;
  height: 300px;
  background-color: wheat;
  margin: auto;
  position: relative;
  & img {
    width: 300px;
    height: 300px;
  }
}

.drawer-circle {
  width: 36px;
  height: 36px;
  border: 1px solid grey;
  border-radius: 50%;
  position: relative;
}
.relative {
  position: relative;
}
.circle {
  height: var(--section-padding);
  width: var(--section-padding);
  border-radius: 50%;
  margin-right: 8px;
}

.align-left {
  align-self: self-start;
}

.references {
  display: flex;
  flex-direction: column;
  padding-left: var(--section-padding);
  padding-right: var(--section-padding);
  margin-bottom: var(--section-padding);
  & img {
    width: 100%;
  }
}
.reference-img {
  object-fit: cover;
  max-width: 100%;
}
.reference-info {
  & p {
    margin-left: 1rem;
    margin-bottom: 0.1rem;
    margin-top: 0.2rem;
  }
  & img {
    object-fit: cover;
    object-position: top center;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
  }

  align-items: center;
  align-content: center;
}

.arrow-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border: 0.16rem solid var(--pink);
  border-radius: 50%;
  margin-right: 0.5rem;
  margin-top: 1.5rem;
  position: relative;
  & i {
    color: var(--red);
  }
}

.support {
  padding-left: var(--section-padding);
  padding-right: var(--section-padding);
  margin-bottom: var(--section-padding);
}
