body {
  background-color: white;
  margin: 0;
      font-family: Poppins, sans-serif;
      overflow-x: hidden;

}
.button {
  background-color: var(--red);
  border: 1px solid transparent;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  margin-top: 1rem;
  /* padding: 12px 24px; */
  text-decoration: none;
  border-radius: 3px;
  text-align: center;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 50px;
}

.transparent-button {
  background-color: transparent;
  border: 1px solid var(--grey);
}
.button-section {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.navbar { 
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: var(--section-padding);
  padding-right: var(--section-padding);
  
  /* padding: 12px 12px 12px; */

  & i {
    color: var(--grey);
    position: absolute;
    left: 6px;
    top: 5px;
  }
  ul,
  li {
    list-style-type: none;
    display: inline-block;
    padding: 1rem;
  }
}
#summary {
  margin: 0;
  background-color: var(--blue);
  /* padding-left: 18px; */
  /* padding-right: 18px; */
  padding-bottom: 10%;
  & img {
    width: 100%;
    align-self: center;
    max-width: 50%;
  }
  .nav-items ul{
    display: flex;
    gap: 30px;
    list-style: none;
    color: #a8b3c0;

    & a{
    text-decoration: none;
    color: #a8b3c0;
      
    }
  }
}
.summary-container {
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  padding-left: var(--section-padding);
  padding-right: var(--section-padding);
  margin-top: 10rem;
}
#about {
  background-color: white;
  padding-left: var(--section-padding);
  padding-bottom: 8rem;
  margin-bottom: var(--section-padding);
  margin-top: var(--section-padding);
  & img {
    width: 40%;
    margin-left: 48px;
    margin-right: 30%;
    min-width: 30%;
  }
}
.service {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-left: var(--section-padding);
  padding-right: var(--section-padding);
  margin-bottom: var(--section-padding);
  & .check-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
    & .check-item {
      display: flex;
      align-items: center;
    }
    .circle {
      height: 24px;
      width: 24px;
      border-radius: 50%;
      background: var(--light-blue);
      margin-right: 8px;
    }
    & i {
      color: white;
    }
  }
  & img {
    width: 100%;
    min-width: 30%;
  }
}
.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding-left: var(--section-padding);
  padding-right: var(--section-padding);

  padding-right: 18px;

  .header {
    text-align: center;
    font-size: 18px;
  }

  & p {
    text-align: start;
  }

  & img {
    width: var(--section-padding);
    color: white;
  }

  .icons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-between;
  }

  .feature-icons {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
  }
  .features-icon {
    margin-bottom: 120px;
  }

  .text-container{
  text-align: center;
  }
  .not-center{
  text-align: start;
    
  }


}
.portfolio {
  display: block;
  margin-top: 96px;
  padding-left: var(--section-padding);
  padding-right: var(--section-padding);
  margin-bottom: var(--section-padding);

  .header {
    text-align: start;
    font-size: 18px;
  }
  .image-container {
    display: flex;
    flex-direction: column;
  }

  .description {
    display: flex;
    flex-direction: column;
  }
  .overlay-text {
    color: white;
    position: absolute;
    font-size: 20px;
    text-align: center;
    bottom: 2rem;
    left: 1rem;
    padding: 0;
    margin: 0;
  }
  .img-subtitle {
    bottom: 1rem;
    font-size: 0.6rem;
  }
  .image-content {

    position: relative;
    padding: 0;
    margin-bottom: 6px;
    & p {
      margin: 0;
      padding: 0;
    }
  }
  .portfolio-image {
    position: relative;
    /* margin-top: 1rem; */
    width: 100%;
    margin-left: 0;
    height: 36rem;
    /* box-shadow: inset 2px -8px 8px -1px #000000 */
  }

  .button {
    margin-bottom: 1rem;
  }
}

.numbers {
  padding-left: var(--section-padding);
  padding-right: var(--section-padding);
  margin-bottom: var(--section-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  & img {
    width: var(--section-padding);
    color: white;
  }
  & .circle {
    padding-bottom: 24px;
    padding-top: 24px;
  }
}

.box-shadow {
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset -2px -50px 8px 8px rgba(22,180,224,0.29);
  background-color: rgba(255, 255, 255, 0.2);
}
.playground {
  width: 300px;
  height: 300px;
  background-color: wheat;
  margin: auto;
  position: relative;
  & img {
    width: 300px;
    height: 300px;
  }
}

.drawer-circle {
  width: 36px;
  height: 36px;
  border: 1px solid grey;
  border-radius: 50%;
  position: relative;
}
.relative {
  position: relative;
}
.circle {
  height: var(--section-padding);
  width: var(--section-padding);
  border-radius: 50%;
  margin-right: 8px;
}

.align-left {
  align-self: self-start;
}

.references {
  display: flex;
  flex-direction: column;
  padding-left: var(--section-padding);
  padding-right: var(--section-padding);
  margin-bottom: var(--section-padding);
  & img {
    width: 100%;
  }
}
.reference-img {
  object-fit: cover;
  max-width: 100%;
}
.reference-info {
  & p {
    margin-left: 1rem;
    margin-bottom: 0.1rem;
    margin-top: 0.2rem;
  }
  & img {
    object-fit: cover;
    object-position: top center;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
  }

  align-items: center;
  align-content: center;
}

.arrow-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border: 0.16rem solid var(--pink);
  border-radius: 50%;
  margin-right: 0.5rem;
  margin-top: 1.5rem;
  position: relative;
  & i {
    color: var(--red);
  }
}

.support {
  padding-left: var(--section-padding);
  padding-right: var(--section-padding);
  margin-bottom: var(--section-padding);
  display: flex;
  justify-content: space-between;
  .left{
    display: flex;
    flex-direction: column;


  }
  .right{
    width: 38%;
    & img{
      width: 100%;
    }
  }
  .support-icons {
    width: 60%;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);   
    gap: 10px;               
    .content {
      display: flex;
      flex-direction: c;
      &
      img {
        width: var(--section-padding);
      color: white;
      }
    }
  }
}
.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 100%;
    .expansion-tile {
    width: 72%;
    display: flex;
    flex-direction: column;
    height: 12rem;
    border: 1px solid var(--grey);
    .summary {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      & i {
        color: var(--red);
      }
    }
    .detail {
      color: black;
    }
  }
}


.blog{
  padding-left: var(--section-padding);
  padding-right: var(--section-padding);
  margin-bottom: var(--section-padding);
  .description{
    display: flex;
    justify-content: space-between;
    .text-container{
      max-width: 25%;
    }
    .button{
      border-color: #f0cdd0 ;
    }
  }
 .content-layout{
  display: flex;
  gap: 10px;
  margin-top:2rem ;
  width: 100%;
  flex-direction: row;
  .content{
    display: flex;
    flex-direction: column;
    .img-content{
      & img{
      width: 100%;
      }
    }
    .text-container{
    }
  }
 }
}


.contact{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  margin-left:1rem;
  padding-right: 4rem;
  margin-right: var(--section-padding);
  height: 350px;
  width: 100%;
  .text{
    max-width: 80%;
  }
  background-color: #00b3e3;
.buttons{
  display: flex;
  .button-red{
    background-color: red;
    border: none;
  }
}

}

.bottom{
  display: flex;
  align-items: center;
  padding-left: var(--section-padding);
  padding-right: var(--section-padding);
  margin-bottom: var(--section-padding);
  background-color: #072a4e;
  height: 350px; 
  width: 100%;
  .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .content-item{
      width: 250px;
      color: #8e4f5a;
    }
   
  }
  .custom-text-field{
    width: 100%;
    color: rgb(36, 35, 42);
    font-size: 16px;
    line-height: 20px;
    min-height: 18px;
    border-radius: 4px;
    padding: 8px 16px;
    border: 2px solid transparent;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
    background: rgb(251, 251, 251);
    transition: all 0.1s ease 0s;
    :focus{
        border: 2px solid rgb(124, 138, 255);
    }
  }

  .button-section{
    display: flex;
    margin-left: 200px;
    margin-right: 150px;
    align-items: center;
    align-content: center;
    width: 300px;
    .button{
      margin: auto;
      padding: 10px;
      
    }
  }

}
.circle{
  height: 36px;
  width: 36px;
  border-radius: 50%;
  border-color: #244161;
  border-style: solid;
  border-width: 1.3px;
}
.divider{
  height: 2px;
  background-color: #a5aebd;
  width: auto;
}
